:root{
    --bg-color1: #2b2bd3;
    --bg-color2: #7fd6ff;
    --bg-color3: #eee;
    --color1: #000;
    --color2: #eee;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--bg-color2);
    color: var(--color1);
}

header{
    display: flex;
    background-color: var(--bg-color1);
    color: var(--color2);
    padding: 10px;
    justify-content: space-between;
}

nav{
    margin-top: 1rem;
    display: block;
    align-items: center;
}

nav a{
    display: none;
    margin: 1rem;
    text-align: center;
    color: var(--color2);
    text-decoration: none;
}

nav a:hover{
    margin: .75rem;
    font-size: larger;
    border: 1px var(--bg-color2) solid;
    color: var(--bg-color2);
}

main{
    margin: 1rem auto;  
}


h1, h2, p{
    text-align: center;
}

footer{
    background-color: #2b2bd3;
    color: var(--color2);
    text-align: center;
    padding: 10px;
}

/* Classes */

.header{
    padding-right: 10px;
    margin: 1rem;
    font-size: xx-large;
}

.open a {
	display: block;
}

.yarndings {
  font-family: "Yarndings 20", serif;
  font-weight: 400;
  font-style: normal;
}

/* IDs */

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}



