body{
    display: flex;
    justify-content: center;
}
main{
    width: 400px;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
    animation: fade 15s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}