:root{
    --bg-color1: #2b2bd3;
    --color1: #eee;
}

body{
    min-width: 320px;
    background-color: var(--color1);
}

header{
    background-color: var(--bg-color1);
    color: var(--color1);
    padding: 10px;
}



h1{
    text-align: center;
}

footer{
    background-color: var(--bg-color1);
    color: var(--color1);
    text-align: center;
    padding: 10px;
}

select,
input[type="radio"],
input[type="text"],
input[type="date"],
textarea{
    display: block;
    width: 100%;
}

input[type="radio"]{
    margin: auto;
}

.stars{
    display: flex;
    flex-wrap: wrap;
}

.stars label{
    margin: auto;
}

.yarndings {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}
