:root{
    --bg-color1: #2b2bd3;
    --color1: #eee;
}

header{
    background-color: var(--bg-color1);
    color: var(--color1);
    padding: 10px;
}

h1{
    text-align: center;
}

footer{
    background-color: var(--bg-color1);
    color: var(--color1);
    text-align: center;
    padding: 10px;
}

input[type="radio"]{
    display: block;
}

.yarndings {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}