:root{
    --color-main: #eee;
    --color-second: #111;
    --background-main: #2b2bd3;
    --background-second: #0e253a;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header{
    color: var(--color-main);
    background-color: var(--background-main);
    text-align: center;
}

footer{
    background-color: var(--background-main);
    color: var(--color-main);
    text-align: center;
    padding: 10px;
}

.yarndings {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}