body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: rgb(43, 43, 211);
    color: #eee;
    padding: 10px;
    justify-content: space-between;
}

main{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

figure{
    margin: 0 auto;
    text-align: center;
    margin: 1rem;
}

h1{
    text-align: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav a{
    margin: 1rem;
    text-align: center;
    color: #eee;
    text-decoration: none;
}

nav a:hover{
    margin: .75rem;
    font-size: larger;
    border: 1px aquamarine solid;
    color: aquamarine;
}

footer{
    background-color: rgb(43, 43, 211);
    color: #eee;
    text-align: center;
    padding: 10px;
}

.header{
    padding-right: 10px;
    margin: 1rem;
    font-size: xx-large;
}

.yarndings {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}