body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: rgb(43, 43, 211);
    color: #eee;
    padding: 10px;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

nav a{
    margin: 1rem;
    flex: auto;
    text-align: center;
    color: #eee;
    text-decoration: none;
}

footer{
    background-color: rgb(43, 43, 211);
    color: #eee;
    text-align: center;
    padding: 10px;
}

.header{
    padding-right: 10px;
    margin: 1rem;
}

.yarndings {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}